@import url("https://fonts.googleapis.com/css?family=Karla:400|Spectral:400");

:root {
	/* color */
	--primary100: #ccdad9;
	--primary200: #99b5b4;
	--primary300: #66908e;
	--primary400: #336b69;
	--primary500: #004643;
	--primary600: #003836;
	--primary700: #003836;
	--primary800: #001c1b;
	--primary900: #000e0d;

	--grey100: #f1f5f9;
	--grey200: #e2e8f0;
	--grey300: #cbd5e1;
	--grey400: #94a3b8;
	--grey500: #64748b;
	--grey600: #475569;
	--grey700: #334155;
	--grey800: #1e293b;
	--grey900: #0f172a;

	--black: #222;
	--white: #fff;
	--red-light: #f8d7da;
	--red-dark: #842029;
	--green-light: #d1e7dd;
	--green-dark: #0f5132;

	--backgroundColor: var(--grey100);
	--textColor: var(--grey900);

	/* fonts */
	--bodyFont: "Karla", sans-serif;
	--borderRadius: 0.25rem;
	--letter-spacing: 1px;
	--fixed-width: 600px;

	/* box shadow */
	--shadow-1: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
	--shadow-2: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

body {
	background: var(--backgroundColor);
	font-family: var(--bodyFont);
	font-weight: 400;
	line-height: 1.75;
	color: var(--textColor);
	padding: 2rem;
}
